<div class="tab quick-access" data-group="primary" data-tab="quick-access">
	<div class="qa-section">
		<div class="inventory-filters items"></div>
		<div class="list-layout items">
			<ul class="inventory-list items-list unlocked classic-controls quick-items"></ul>
		</div>
	</div>
	<div class="qa-section">
		<div class="inventory-filters features"></div>
		<div class="list-layout">
			<ul class="inventory-list items-list features-list unlocked classic-controls quick-features"></ul>
		</div>
	</div>
</div>
